/******************************
GENERAL SETUP
******************************/
/* google font api */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

/* clear default element border and padding */
* {box-sizing: border-box;}

/* body and font styling */
body {font-family: 'Open Sans', sans-serif;background-color: #262626;color: #FFF;}

/* global variable */
:root {font-size: 120%;}

/******************************
THE LIST
******************************/

/* remove default space */
ul {margin: 0;padding: 0;}

/* style list items  */
ul li {
    border: solid 1px #eee;
    position: relative;



    cursor: pointer;
}





/******************************
THE TITLE
******************************/

h2 {text-align:center;}
span {width}




/******************************
THE INPUT AREA
******************************/



