/******************************
GENERAL SETUP
******************************/

/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

/* reset the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* universal styles */
body {
    background-color: #262626;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

/******************************
THE TITLE
******************************/





/******************************
THE INPUT AREA
******************************/





/******************************
THE TODO LIST
******************************/